{{define "E_Car"}}

   {{template "_head"}}

      {{template "_menu"}}

   <div class="container">
      <body>
         <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-5">Editar Veículo</h1>
               <p class="lead">Insira os dados para atualizar</p>
            </div>
         </div>
         <form method="POST" action="atualizaVeic">
            <input type="hidden" name="idveiculo" value="{{.Id}}">
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="modelo">Modelo:</label> <input type="text" name="modelo" class="form-control" value="{{.Modelo}}"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="placa">Placa:</label> <input type="text" name="placa" class="form-control" value="{{.Placa}}"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-2">
                  <div class="form-group"> <label for="renavam">Renavam:</label> <input type="text" name="renavam" class="form-control" value="{{.Renavam}}"> </div>
               </div>
            </div>
            <button onclick="onSave('{{.Id}}')" class="btn btn-danger">Salvar</button> <a class="btn btn-info" href="/">Voltar</a>                                     
         </form>
      </body>

   <script>
      function onSave(id){
         let resposta = confirm("Tem certeza que deseja editar este veiculo ?" )
         if (resposta){
            window.location = "/atualizaVeic" + id
         }
      }
   </script>

</html>
{{end}}