{{define "Email"}}

   {{template "_head"}}

      {{template "_menu"}}

   <div class="container">
      <body>
       
         <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-5">Email</h1>
               <p class="lead">Preencha os campos abaixo</p>
            </div>
         </div>

         <form method="POST" action="enviaEmail">
            <div class="row">
               <div class="col-sm-6">
                  <div class="form-group"> <label for="nome">Cliente:</label> <input type="text" name="nome" class="form-control" value="{{.Nome}}"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="email">Email Cliente:</label> <input type="text" name="email" class="form-control" value="{{.Email}}"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="msg">Mensagem:</label> <textarea type="text" name="msg" rows="5" class="form-control"> </textarea>
               </div>
            </div>
            <div class="button">
               <button onclick="onSave('idcliente')" class="btn btn-danger">Enviar Email</button> <a class="btn btn-info" href="/">Voltar</a>             
            </div>
         </form>         
      </body>

   <script>
      function onSave(id){
         let resposta = confirm("Tem certeza que deseja enviar este email ?" )
         if (resposta){
            window.location = "/enviaEmail"
         }
      }
   </script>

</html>
{{end}}