{{define "New"}}

   {{template "_head"}}

      {{template "_menu"}}

   <div class="container">
      <body>
         <div class="jumbotron jumbotron-fluid">
            <div class="container">
               <h1 class="display-5">Novo Cliente</h1>
               <p class="lead">Insira os detalhes</p>
            </div>
         </div>
         <form method="POST" action="insert">
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="nome">Nome:</label> <input type="text" name="nome" class="form-control"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-8">
                  <div class="form-group"> <label for="cpfcnpj">Cpf/Cnpj:</label> <input type="text" name="cpfcnpj" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" data-mask="00/00/0000" maxlength="15" autocomplete="off"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-5">
                  <div class="form-group"> <label for="telefone">Telefone:</label> <input type="text" name="telefone" class="form-control phone-ddd-mask" placeholder="Ex.: (00) 0000-0000" maxlength="12"> </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6">
                  <div class="form-group"> <label for="email">Email:</label> <input type="text" name="email" class="form-control"> </div>
               </div>
            </div>
            <button onclick="onSave('{{.Id}}')" class="btn btn-danger">Salvar</button> <a class="btn btn-info" href="/">Voltar</a>             
         </form>
      </body>

   <script>
      function onSave(id){
         let resposta = confirm("Tem certeza que deseja salvar este cliente ?" )
         if (resposta){
            window.location = "/insert"
         }
      }
   </script>

</html>
{{end}}